.introduction__container{
   
    img{
      width: 100%;
      height: auto;
      max-height: 450px;
    }
}
.introduction__content{
    width: 90%;
    margin: 0 auto;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 35px;
}

@media screen and (min-width: 768px){
.introduction__content{
    width:75%;
}
}